.box{
    display: flex;
    flex-direction: column;
    margin: auto auto;
    margin-top: 20px;
    padding: 2px;
    height: 300px;
    width: 600px;
    background-color: aquamarine;
    /* justify-content: center; */
    align-items: center;
    border: 2px solid rosybrown;
    border-radius: 7px;
}
input{
    font-size: 30px;
    border-radius: 7px;
}
button{
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color: bisque;
}
button:hover{
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color: rgb(221, 26, 166);
}
.btn{
    margin-top: 30px;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box2{
    display: flex;
    margin-top: 45px;
}
.a{
    margin: 12px 20px;
    display: flex;
}
.b {
    width: 20px; /* Adjust the width as needed */
    height: 20px;
}
span,p{
    font-size: 20px;
}
.range{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#range{
    width: 180px; /* Adjust the width as needed */
    font-size: 40;
}
p{
    margin: 3px;
}
